<div class="breadcrumb" style="padding-bottom: 24px;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>Train Stations</nz-breadcrumb-item>

        <nz-breadcrumb-item>Map</nz-breadcrumb-item>
    </nz-breadcrumb>
</div>

<!-- <h1>Train Station On Map</h1> -->

<!-- <nz-card nzTitle="Train Station On Map">
    <div>
        <div id="map-overview" class="map-overview"></div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
</nz-card> -->
<div>
    <div class="main-title">Train Station On Map</div>
    <div class="main-content">
        <div id="map-overview" class="map-overview"></div>

        <div id="popup" class="ol-popup">
            <div style="margin: 5px; display: flex; justify-content: space-between;">
                <span style="align-self: flex-start;">Train Station</span>
                <a href="#" id="popup-closer" class="ol-popup-closer" style="align-self: flex-end;">X</a>
            </div>
            <hr>
            <div id="popup-content" ></div>
        </div>
    </div>
</div>