.container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.info {
    width: 600px;
}

.actions {
    align-items: end;
}

.image-item {
    width: 100px;
    margin: 0 5px 5px 0;
}