<div class="container">
    <img src="../../../../assets/image-intro.jpeg" alt="train-station"
        style="width:100%; height: 100vh;">
    <div class="centered">
        <h1 class="title" style="color: white;">Welcome to the train station
            management app</h1>
        <p class="description">
            Train station management application helps you manage information
            about train stations, schedules and passengers.
            With a beautiful and professional interface, this application helps
            you easily monitor and manage train station operations effectively.
        </p>
        <p class="description">
            Explore the app's features and experience it with us.
        </p>
        <div class="actions">
            <button class="button-intro" nz-button nzType="primary"
                routerLink="/auth/login"
                style="background-color: #20B2AA; border-color: #20B2AA;">
                Start now
            </button>
            <button class="button-intro" nz-button
                style="background-color: #FFFFE0;">Guide</button>
        </div>
    </div>
    <div class="bottom-right">Copyright <span nz-icon nzType="copyright"
            nzTheme="outline"></span> Jungdo UIT</div>
</div>